@model MVCGrid.Models.IndexViewModel
@using MVCGrid.Helpers;


@{
    ViewBag.Title = "Home Page";
 
  

}
    <head>
        <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
        <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.js")' type="text/javascript"></script>
    </head>
    <body>
        <br />

        <div><span id="notification" style="color:red;font-size:15px;"></span></div>

        <div>

            @using (Ajax.BeginForm("JSONWorkerSearch", new AjaxOptions { OnSuccess = "OnSuccess" }))
            {
                <input type="text" name="FirstName" placeholder="FirstName" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")' />
                <input type="submit" value="Поиск" />

            }
         
            <script type="text/javascript">
                $(function () {
                    $("[data-autocomplete-source]").each(function () {
                        var target = $(this);
                        target.autocomplete({ source: target.attr("data-autocomplete-source") });
                    });
                });
            </script>
            <br />
            <table class="table">
                <tr>
                    <td>FirstName</td>
                    <td>LastNane</td>
                </tr>
                @foreach (var item in Model.Workers)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@Html.ActionLink("Edit", "EditWorker", new { id = item.Id })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                    </tr>

                }
            </table>
            <br />
            <div class="btn-group">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
            </div>
            <br />
            <br />
            <div id="SearchResults"></div>
        </div>
        <br />
        <div id="ShowAlcoholics">
            @Ajax.ActionLink("Показать алкоголиков", "ShowAlcoholics",
                    new AjaxOptions { UpdateTargetId = "ShowAlcoholics" })
        </div>

        <script type="text/javascript">
            function OnSuccess(data) {
                var results = $('#SearchResults'); // получаем нужный элемент
                results.empty(); //очищаем элемент
                for (var i = 0; i < data.length; i++) {
                    results.append('<li>' + data[i].Name + '</li>'); // добавляем данные в список
                }
            }
        </script>


        @section scripts{
            <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
            <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
            <script src="~/signalr/hubs"></script>
            <script type="text/javascript">
                $(function () {

                    var notificationhub = $.connection.notificationHub;

                    notificationhub.client.displayMessage = function (message) {

                        $('#notification').html(message);
                        debugger;
                    };

                    $.connection.hub.start();

                });
            </script>
        }

        <style>
            .notif {
                font-size: 15px;
                font-family: Verdana, Arial, Helvetica, Sans-Serif;
                font-weight: bold;
                line-height: 40px;
            }
        </style>
    </body>











